<html lang="en">
  <head>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <p align="center"><font face="Times New Roman" size="40">{{ author.name }}</font><p>
    <p align="center"><font face="Times New Roman" size="30">{{ author.email }}</font><p>
	<br>
    <p align="center"><font face="Times New Roman" size="20">{{ author.description }}</font><p>


 </body>
</html>